{%- assign guide_name = guide.name -%}
{%- assign instagram_handle = guide.instagram_handle -%}
{%- assign five00px_handle = guide.five00px_handle -%}
{%- assign guide_title = guide.title -%}
{%- assign guide_pic = guide.photo | image_url: width: 800 -%}
{%- assign bio = guide.bio -%}

<div class="guide-container {% if abbreviated %}abbreviated{% endif %}">
  <div
    class="guide-pic"
    style="background-image: url('{{ guide_pic }}'); background-size: cover; background-repeat: no-repeat;">
  </div>

  <div class="guide-content">
    <div class="guide-socials">
      {% if instagram_handle %}
        {% render 'guide-instagram', instagram_handle: instagram_handle %}
      {% endif %}
      {% if five00px_handle %}
        {% render 'guide-500', five00px_handle: five00px_handle %}
      {% endif %}
    </div>

    <div class="guide-banner">
      <div class="guide-heading">{{ guide_title }}</div>
      <h1 class="guide-header">{{ guide_name }}</h1>
    </div>

    <p class="guide-bio">{{ bio }}</p>
  </div>
</div>