{% case guide %}
    {% when 'Ryan' %}
        <h1>Ryan</h1>
    {% when 'Steve' %}
        <h1>Steve</h1>
    {% when 'Miles' %}
        <h1>Miles</h1>
    {% when 'Bruce' %}
        <h1>Bruce</h1>
    {% else %}
    <h1>Do nothing</h1>
{% endcase %}