<script src="{{ 'about.bundle.js' | asset_url }}" async="async"></script>
{{ 'about.bundle.css' | asset_url | stylesheet_tag }}

<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>