{{ 'about.css' | asset_url | stylesheet_tag }}
{{ 'guide.css' | asset_url | stylesheet_tag }}

<div class="about-content">
  <div class="bold-heading-container bg-dark-gray">
    <div class="bold-heading">ABOUT US</div>
    <div class="bold-description">
      <p class="poppins-extralight">United with the common goal of photographing the best possible skies in the world, Skyscape Photo Tours blends industry professionals in two complimentary disciplines to pursue legendary moments in nature.</p>
    </div>
  </div>

  <div class="page-width">
    <div class="about-content-block">
      <h1>Meet the Team</h1>
      <div class="guides-container">
        {% assign guides = 'Steve,Bruce,Ryan,Miles' %}
        {% assign guide_arr = guides | split: ',' %}
        {% for guide in guide_arr %}
          {% render 'guide'
            , guide: guide %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>