{{ 'calendar.css' | asset_url | stylesheet_tag }}

<div class="tours-hero">
  <div class="tours-hero__inner">
    <span class="tours-hero__label">{{ section.settings.subheading }}</span>
    <h1 class="tours-hero__title">{{ section.settings.title }}</h1>
    <div class="tours-hero__rule"></div>
    <p class="tours-hero__subtitle poppins-extralight">{{ section.settings.description }}</p>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Banner",
    "settings": [
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Featured Moments"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Gallery"
      }, {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "Some of our favorite dramatic captures from the plains. Featuring work from our team and participants."
      }, {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      }
    ],
    "presets": [
      {
        "name": "Custom Banner"
      }
    ]
  }
{% endschema %}