<script src="{{ 'gallery.bundle.js' | asset_url }}" async="async"></script>

<style>
  .cta-container {
    width: 100%;
    background-image: url('{{ section.settings.image | img_url: '1024x1024' }}');
  }
  .cta-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    /* The gradient overlay only covers half of the container */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    z-index: 2;
  }
</style>

<div class="gallery-page page-width">
  <div class="cta-container">
    <h1>Tour CTA</h1>
    <h1>Tour CTA</h1>
    <h1>Tour CTA</h1>
    <h1>Tour CTA</h1>
    <h1>Tour CTA</h1>
    <h1>Tour CTA</h1>
    <h1>Tour CTA</h1>
    <h1>Tour CTA</h1>
  </div>
</div>


{% schema %}
  {
    "name": "Tours CTA",
    "tag": "section",
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name": "BG Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Upload an image for the gallery."
          }, {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "info": "Main Heading Text"
          }, {
            "type": "text",
            "id": "description",
            "label": "Description",
            "info": "Description"
          }, {
            "type": "text",
            "id": "alt_text",
            "label": "Alt Text",
            "info": "Describe the image for accessibility."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tours CTA",
        "category": "Tours CTA"
      }
    ]
  }
{% endschema %}