/* 
HEAVY REWRITE NEEDED BELOW
*/

.cal-card-sectionTitle.mod-destination {
  font-size: 36px;
  line-height: 43px;
  color: #fff;
  padding-left: 15px;
  text-align: left;
}

.cal-card-sectionTitle {
  margin-bottom: 45px;
  margin-top: 0;
}

.h-title3 {
  font-size: 24px;
  font-weight: 400;
}

.workshop-flex {
  display: flex;
  flex-wrap: wrap;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.cal-card {
  margin: 0 auto 40px;
  position: relative;
  background: #1d1d1d;
  /* box-shadow: 5px 5px 15px rgb(0 0 0 / 90%); */
}

.cal-card:hover {
  /* box-shadow: 5px 5px 15px #dbbc8f66; */
}

.col-md-8 {
  width: calc(50% - 80px);
}

.cal-cardsList @media {
  float: left;
}

.cal-card {
  cursor: pointer;
  min-height: 566px;
  margin-bottom: 60px;
}

.cal-card-pictureContainer {
  width: 100%;
  height: 500px;
  position: relative;
}

.calendar-pic {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.cal-card-title {
  border-left: 1px solid #dbbc8f;
  color: #dbbc8f;
  font-size: 26px;
  margin-bottom: 20px;
  padding-left: 35px;
  text-align: left;
}
.cal-card-description {
  color: #f7f5f2;
  padding-left: 35px;
  text-align: left;
}

.cal-card-pictureContainer::after {
  bottom: -40px;
  color: #fff;
  font-size: 50px;
  position: absolute;
  right: 25px;
}

@media screen and (max-width: 960px) {
  .workshop-flex {
    flex-direction: column;
  }
  .col-md-8 {
    width: 95%;
  }
}

.calendar-button {
  display: block;
  width: 160px;
  margin: 30px auto;
  background: #dbbc8f;
}

.cal-card-pictureContainer::after {
  color: #fff;
  content: attr(data-date);
}
