a:empty {
  display: initial;
}

.landing-section {
  width: 100%;
  height: 55vh;
  text-align: center;
  background: url(https://cdn.shopify.com/s/files/1/0590/7863/9796/files/15.jpg?v=1632770806);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 65%;
}

.banner {
  top: 0;
  color: #fff;
  line-height: 1;
  font-size: 150px;
  margin-top: 18vh;
  padding: 2vh;
  text-align: center;
  font-weight: normal;
  margin-bottom: 15vh;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
}

.banner-subheading {
  font-size: 2.2vh;
  color: var(--muted-gold);
  z-index: 1;
  padding-bottom: 1vh;
}

.banner-title {
  font-size: 2.5vh;
  color: #fff;
}

.gallery .banner-title {
  font-size: 5vh;
}

.workshop-flex {
  padding-top: 50px;
  color: #fff;
}

/* 12/19/24 */
#calendar-section {
  padding: 36px 0;
}

.workshop-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}
.cal-card {
  position: relative;
  display: flex;
  padding: 4px;
  border: 1px solid var(--muted-gold);
}

.cal-card .card-picture {
  flex: 1 1 60%;
  border: 2px solid #443521;
  border-right: none;
  overflow: hidden;
}
.image-wrap {
  height: 100%;
  width: 100%;
}
.image-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cal-card:hover img {
  transform: scale(1.05);
}

.cal-content {
  position: relative;
  flex: 1 1 40%;
  min-width: 400px;
  border: 2px solid #443521;
  border-left: none;
  padding-left: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid #443521;
  background: linear-gradient(90deg, #0f0e0b 0%, rgba(36, 34, 30, 0.85) 100%);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, .25);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.cal-content:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #0f0e0b, #dbbc90);
  z-index: -1;
  opacity: 0;
  transition: opacity .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cal-card:hover .cal-content:after {
  opacity: 1;
}

.cal-card-title {
  font-size: clamp(1.38rem, 1.08vw + 0.71rem, 2rem);
  color: #fff;
  margin-bottom: 8px;
  line-height: 1.1875;
  color: var(--muted-gold);
}

.overlay-link {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}