.landing-section {
  width: 100%;
  height: 80vh;
  text-align: center;
  background: url(https://cdn.shopify.com/s/files/1/0590/7863/9796/files/15.jpg?v=1632770806);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
}

.banner {
  top: 25%;
  color: #fff;
  line-height: 1;
  position: sticky;
  font-size: 150px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 15vh;
  display: inline-block;
}

.banner-subheading {
  font-size: 52px;
  color: var(--muted-gold);
}

.banner-title {
  font-size: 150px;
  color: #fff;
}

.workshop-flex {
  padding-top: 50px;
}

.cal-card {
  display: flex;
  padding: 50px 0;
  flex-direction: row;
  align-items: center;
}

.cal-card:nth-child(odd) {
  flex-direction: row-reverse;
}

.cal-description {
  width: 40%;
  position: relative;
}

.cal-description::after {
  top: -70px;
  left: -50px;
  z-index: -1;
  content: "01";
  font-size: 80px;
  color: #595959;
  position: absolute;
}

.cal-card-pictureContainer {
  min-height: 375px;
  width: 60%;
}

.cal-card-title-heading {
  position: relative;
  padding-left: 60px;
  color: var(--muted-gold);
}

.cal-card-title-heading::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 2px);
  height: 2px;
  width: 50px;
  background: var(--muted-gold);
}

.cal-card-title {
  font-size: 24px;
}
