.guides-container {
  display: flex;
  flex-direction: column;
}

.guide-container {
  display: flex;
  position: relative;
  min-height: 60vh;
  width: 100%;
  margin-bottom: 60px;
}

/* .guide-container.abbreviated .guide-bio, */
.guide-container.abbreviated .guide-socials {
  display: none;
}

.guide-socials {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
.guide-banner {
  /* position: absolute; */
  /* left: 30%; */
  /* top: 20%; */
  margin-left: -200px;
  margin-top: 60px;
  margin-bottom: 30px;
  text-shadow: 0 0 2vh black;
}

.guide-heading {
  letter-spacing: 10px;
}

.guide-header {
  margin: 0.4em 0;
  color: var(--muted-gold);
  text-shadow: 0 0 2vh black;
}

.guide-pic {
  width: 40%;
  background-color: black;
}

.guide-content {
  width: 60%;
  padding: 0 20px 45px 60px;
}

.guide-bio {
  /* margin-top: 30%; */
}

.guide-ig {
  height: 24px;
  width: 24px;
}

.guide-500 {
  height: 24px;
  width: 24px;
}

.guide-pic.Steve {
  background-position: center 20%;
}

.guide-pic.David {
  background-position: center;
}

.guide-pic.Miles {
  background-position: center 35%;
}

.guide-pic.Ryan {
  background-position: center 25%;
}

.guide-pic.Bruce {
  background-position: center 25%;
}

.guide-pic.Justin {
  background-position: 85% center;
}

.guide-container:nth-child(even) {
  flex-direction: row-reverse;
}

.guide-container:nth-child(even) .guide-banner {
  margin-right: -100px;
  position: relative;
  text-align: right;
}

.guide-container:nth-child(even) .guide-socials {
  right: initial;
  left: 0;
}

.guide-social-icon {
  display: block;
}

.guide-socials:after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  top: 75px;
  left: 11px;
  height: 250px;
  background-color: var(--muted-gold);
}

@media screen and (max-width: 750px) {
  .guide-container,
  .guide-container:nth-child(even) {
    flex-direction: column;
  }
  .guide-pic {
    height: 300px;
    width: 80%;
    margin: 0 auto;
  }
  .guide-content {
    width: 100%;
    padding: 0;
  }
  .guide-bio {
    width: 100%;
  }
  .guide-container:nth-child(even) .guide-banner,
  .guide-banner {
    margin-left: 0;
    margin-right: 0;
    margin-top: -50px;
    position: relative;
    text-align: center;
    z-index: 1;
  }
}

@media screen and (max-width: 960px) {
  .bold-heading {
    letter-spacing: 0px;
  }
}

#product-form-installment {
  display: none;
}
