<script src="{{ 'gallery.bundle.js' | asset_url }}" async="async"></script>

<style>
    .gallery-page {
        margin-top: 82px;
    }
</style>

<div class="gallery-page page-width">
    <div class="pswp-gallery pswp-gallery--single-column" id="gallery--photoswipe-gallery">
        <div>
            <a href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/6/img-2500.jpg"
            data-pswp-width="2500" 
            data-pswp-height="1667" 
            target="_blank">
                <img src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/6/img-200.jpg" alt="" />
            </a>
        </div>
        <div>
            <a href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/7/img-2500.jpg" 
                data-pswp-width="1875" 
                data-pswp-height="2500" 
                data-cropped="true" 
                target="_blank">
                <img src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/7/img-200.jpg" alt="" />
            </a>
        </div>
    </div>
</div>

