{{ 'calendar.css' | asset_url | stylesheet_tag }}

<div class="landing-section gallery">
  <div class="banner">
    <div class="banner-subheading">Moments Captured on the Chase</div>
    <div class="banner-title">Gallery</div>
  </div>
</div>